<style type="text/css">
  .display-frame {
    float: right;
  }

  .links {
    float: left;
  }
</style>
<div class="links">
  <ul>
  <% links.each do |name, link| %>
    <li><a href="<%= link %>" target="displayframe"><%= name %></a></li>
  <% end %>
  </ul>
</div>
<iframe src="" width="50%" height="100%" name="displayframe" class="display-frame" frameBorder="0"/>
