<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>MailView </title>
</head>
<style>
  .display-frame {
    float: right;
    background:white;
    width: 70%;
    height: 100%;
  }

  .links {
    float: left;
  }

  body {
    background: #fff url(/assets/public/background-ea9e942a103c7dca5f911f88bf44e5b7.jpg) repeat-x;
    color: #404040;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    min-width: 990px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
  }

  .more-space {
    width: 100px;
  }

  .links .center-align {
    text-align: center;
  }
</style>
<body>
  <div class="links">
    <table>
      <tr>
        <th>
          Namn
        </th>
        <th class="more-space">
          Svenska
        </th>
        <th class="more-space">
          Engelska
        </th>
      </tr>
      <% links.each do |name, row_links| %>
        <tr>
          <td>
            <%= name.gsub('_', ' ') %>
          </td>
          <% row_links.values.each do |link| %>
            <td class="center-align">
              <a href="<%= link %>" target="displayframe">visa</a>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <iframe src="" name="displayframe" class="display-frame" frameBorder="0"/>
</body>
