<style type="text/css">
  .display-frame {
    float: right;
  }

  .links {
    float: left;
  }
</style>
<script type="text/javascript" language="javascript">
  function navigateURL(url) {
    window.document.all.displayframe.src = url;
  }
</script>
<div class="links">
  <ul>
  <% links.each do |name, link| %>
    <li><a href="javascript:navigateURL(location.host + '<%= link %>');"><%= name %></a></li>
  <% end %>
  </ul>
</div>
<iframe src="" width="50%" height="100%" name="displayframe" class="display-frame" id="displayframe" frameBorder="0"/>
